body {
    font-family: 'Montserrat', sans-serif;
    background-color:  #F5F7FA;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

.main_content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about_user {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_discription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.project {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.ol {
    padding: 0;
    margin-left: 15px;
}

.li_project {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.span_a, .http {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.http {
    margin-left: 10px;
}

.duj {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.h4_company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.date_work{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.education_h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.span_company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;  
    color: black;
}

.work_list {
    padding: 0;
    margin-left: 15px;
    padding-right: 200px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 15px;
}

.sidebar{
    background-color: rgba(30, 41, 57, 1);
    padding-top: 40px;
    width: 370px;
}

.img {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts, .tech_skills, .soft_skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.tech_skills {
    margin-bottom: 45px;
}

.contact_type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.tel_mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(110, 126, 150, 1);
    opacity: 0.5;
}

.ul_tech_skills, .ul_soft_skills {
    color: #fff;
    padding: 0;
    margin-left: 20px;
}

.li_tech_skills, .li_soft_skill {
    color: #FB6D3A;
}

.li_span_tech, .li_span_soft {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}